<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxiAppKPI"
        tools:targetApi="31">
        <activity
            android:name=".settings.FiltersForDriverActivity"
            android:exported="false" />
        <activity
            android:name=".settings.FiltersForRiderActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsCarActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsUserActivity"
            android:exported="false" />
        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key"/> <!--AIzaSyBUU0jASqk5BDGGG_b32pp6YUp1NUDu_zk-->
        <activity
            android:name=".maps.RiderMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_rider_maps" />
        <activity
            android:name=".maps.DriverMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_driver_maps" />
        <activity
            android:name=".login.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".login.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".login.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TaxiAppKPI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>